<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Тестовая страница</title>
  <style type="text/css">
   P.fig {
    text-align: center; /* Выравнивание по центру */
   }
  </style>
 </head>
 <body> 
  <p class="fig">
   <img src="images/hello.jpg" width="200" height="100" alt="Иллюстрация">
   <h1 align=center>Success! The {{ virtual_host1 }} virtual host is working!</h1>
  </p>
 </body>
</html>